# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = scrape_external_links.settings

[deploy:local-target]
url = http://localhost:6800/
project = scrape_external_links

[deploy:server-target]
url = http://81.27.85.185:6800/
project = scrape_external_links
